proyectoSegura/db.sqlite3
proyectoSegura/db/migrations/*
proyectoSegura/db/__pycache__/*.pyc
proyectoSegura/db/__pycache__/__init__.cpython-39.pyc
proyectoSegura/db/__pycache__/models.cpython-39.pyc
proyectoSegura/proyectoSegura/__pycache__/*
proyectoSegura/proyectoSegura/__pycache__/settings.cpython-39.pyc
proyectoSegura/proyectoSegura/__pycache__/urls.cpython-39.pyc
proyectoSegura/proyectoSegura/__pycache__/views.cpython-39.pyc
proyectoSegura/secrets.env.cpt
data/*
data/sys/*
data/mysql*
data/performance_schema/*
certificados/*
certificados/*.csr
certificados/*.crt
certificados/*.pem
*.log
*.pot
*.pyc
*.crt
*.pem
*.csr
__pycache__/
db.sqlite3
