{% extends 'baseAnonimo.html' %}

{% block titulo %}Ingrese su token{% endblock %}

{% block encabezado %}Ingrese su Token de Telegram{% endblock %}

{% block contenido %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
<form method="post" action="/doblefactor/">
    {% csrf_token %}

    <div class="bg-light border-4 border-warning rounded container">
        <div class="row pt-4 pb-4 px-2 justify-content-center">
            <div class="col-auto">
                <input type="text" class="form-control token-input" id="character1" name="character1" maxlength="1" required oninput="siguienteInput(this)">
            </div>
            <div class="col-auto">
                <input type="text" class="form-control token-input" id="character2" name="character2" maxlength="1" required oninput="siguienteInput(this)">
            </div>
            <div class="col-auto">
                <input type="text" class="form-control token-input" id="character3" name="character3" maxlength="1" required oninput="siguienteInput(this)">
            </div>
            <div class="col-auto">
                <input type="text" class="form-control token-input" id="character4" name="character4" maxlength="1" required oninput="siguienteInput(this)">
            </div>
            <div class="col-auto">
                <input type="text" class="form-control token-input" id="character5" name="character5" maxlength="1" required oninput="siguienteInput(this)">
            </div>
            <div class="col-auto">
                <input type="text" class="form-control token-input" id="character6" name="character6" maxlength="1" required>
            </div>
        </div>
    </div>
    
    <div class="row pt-4 px-2 justify-content-center">
        <div class="col-auto">
            <button type="submit" class="btn btn-primary btn-sm" id="confirmarToken">Confirmar Token</button>
        </div>
    </div>
</form>

<style>
    .token-input {
        width: 3rem;
        height: 3rem;
        text-align: center;
        font-size: 1.5rem;
        margin: 0 0.3rem;
    }
    .bg-light {
        background-color: #f8f9fa !important; /* Gris 
    }
    .btn-sm {
        font-size: 0.875rem; /* Tamaño de fuente más pequeño */
        padding: 0.25rem 0.5rem; /* Ajuste de padding para tamaño pequeño */
    }
</style>

<script>
    function siguienteInput(inputActual) {
        const inputs = document.querySelectorAll("input[type='text']");
        const indiceActual = Array.from(inputs).indexOf(inputActual);
        const siguienteIndice = (indiceActual + 1) % inputs.length;
        inputs[siguienteIndice].focus();
    }
    </script>
{% endblock %}
