{% extends "baseAlumno.html" %}

{% load static %}
{% block scripts %}
<script src="/static/js/seleccionarEjercicio.js"></script>
{% endblock %}

{% load custom_filters %}

{% block titulo %}Lista de Ejercicios{% endblock %}
{% block encabezado %}Lista de Ejercicios{% endblock %}
{% block contenido %}

<div class="table-responsive">
    <h5>EJERCICIOS:</h5>

    <form method="post" action="/verEjercicio/">
        {% csrf_token %}
        <table class="table table-bordered table-striped">
            <caption>Tabla de ejercicios</caption>
            <thead>
                <tr>
                    <th>Seleccionar</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Fecha de Cierre</th>
                    <th>Calificación</th>
                </tr>
            </thead>
            <tbody>
                {% for ejercicio, calificacion in ejercicios_con_calificaciones %}
                <tr>
                    <td>
                        {% if not ejercicio.fecha_cierre|is_past_due %}
                        <input type="radio" name="ejercicio_id" value="{{ ejercicio.id }}" required>
                        <input type="hidden" id="user_id" name="user_id" value="{{ usuario }}">
                        {% else %}
                        <input type="radio" name="ejercicio_id" value="{{ ejercicio.id }}" disabled>
                        <input type="hidden" id="user_id" name="user_id" value="{{ usuario }}">
                        {% endif %}
                    </td>
                    <td>{{ ejercicio.nombre_ejercicio }}</td>
                    <td>{{ ejercicio.descripcion }}</td>
                    <td>{{ ejercicio.fecha_cierre|date:"F j, Y, g:i a" }}</td>
                    <td>{{ calificacion }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button type="submit" class="btn btn-primary" id="seleccionar_ejercicio">Ver Ejercicio</button>
    </form>
</div>

{% endblock %}
