{% extends 'baseAnonimo.html' %}

{% block titulo %}INICIAR SESIÓN {% endblock %}

{% block encabezado %}INICIAR SESIÓN{% endblock %}

{% block contenido %}
{% if errores %}
      <b style="color:red">{{ errores }}</b>
{% endif %}

  <form method="post" action="/doblefactor/">
    {% csrf_token %}

    <div class="mb-3">
      <label for="username" class="form-label">Nombre del Usuario:</label>
      <input type="text" class="form-control" id="username" name="username" required>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Contraseña:</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>


    <button type="submit" class="btn btn-primary" id="sesionEnviar">Iniciar sesión</button>
  </form>
{% endblock %}