{% extends 'baseAnonimo.html' %}
{% load static %}
{% block scripts %}
<script src="https://www.google.com/recaptcha/enterprise.js" async defer></script>

{% endblock %}
{% block titulo %}INICIAR SESIÓN {% endblock %}

{% block encabezado %}INICIAR SESIÓN{% endblock %}

{% block contenido %}
{% if errores %}
      <b style="color:red">{{ errores }}</b>
{% endif %}

  <form method="post" action="/">
    {% csrf_token %}

    <div class="mb-3">
      <label for="username" class="form-label">Nombre del Usuario:</label>
      <input type="text" class="form-control" id="username" name="username" required>
    </div>

    <div class="mb-3">
      <label for="password" class="form-label">Contraseña:</label>
      <input type="password" class="form-control" id="password" name="password" required>
    </div>
    
    <div class="g-recaptcha" data-sitekey="6Lco9u0pAAAAAICF8DnYQ5XfG-469kkD4I4R34ty" data-action="LOGIN"></div>


    <button type="submit" class="btn btn-primary" id="sesionEnviar">Iniciar sesión</button>
  </form>
{% endblock %}