{% extends 'baseAnonimo.html' %}

{% load static %}
{% block scripts %}
<script src="https://www.google.com/recaptcha/enterprise.js" async defer></script>

{% endblock %}

{% block titulo %}Registro de alumno{% endblock %}

{% block encabezado %}Registro de Alumno{% endblock %}

{% block contenido %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
  <form method="post" id="registroForm">
    {% csrf_token %}

    <div class="mb-3">
      <label for="nombreAlumno" class="form-label">Nombre o Nombres:</label>
      <input type="text" class="form-control" id="nombreAlumno" name="nombreAlumno" value="{{ nombreAlumno }}" required>
    </div>

    <div class="mb-3">
      <label for="apellidosAlumno" class="form-label">Apellidos:</label>
      <input type="text" class="form-control" id="apellidosAlumno" name="apellidosAlumno" value="{{ apellidosAlumno }}" required>
    </div>

    <div class="mb-3">
      <label for="usuarioAlumno" class="form-label">Usuario:</label>
      <input type="text" class="form-control" id="usuarioAlumno" name="usuarioAlumno" value="{{ usuarioAlumno }}" required>
    </div>

    <div class="mb-3">
      <label for="contrasenaAlumno" class="form-label">Contraseña:</label>
      <input type="password" class="form-control" id="contrasenaAlumno" name="contrasenaAlumno" required>
      <div class="form-text">La contraseña debe tener al menos 10 caracteres, incluyendo mayúsculas, minúsculas, dígitos y al menos un carácter especial.</div>
    </div>

    <div class="mb-3">
      <label for="contrasenaAlumno1" class="form-label">Confirmar contraseña:</label>
      <input type="password" class="form-control" id="contrasenaAlumno1" name="contrasenaAlumno1" required>
    </div>
    <div class="mb-3">
      <label for="token_Usuario" class="form-label">ingresa tu token:</label>
      <input type="text" class="form-control" id="token_Usuario" name="token_Usuario" required>
    </div>
    <div class="mb-3">
      <label for="bot_Usuario" class="form-label">ingresa tu chat ID del bot:</label>
      <input type="text" class="form-control" id="bot_Usuario" name="bot_Usuario" required>
    </div>
    <div class="g-recaptcha" data-sitekey="6Lco9u0pAAAAAICF8DnYQ5XfG-469kkD4I4R34ty" data-action="LOGIN"></div>

    <button type="submit" class="btn btn-primary" id="alumnoEnviar">Registrar Alumno</button>
  </form>
 

{% endblock %}

