{% extends 'base.html' %}

{% block titulo %}Registro de alumno{% endblock %}

{% block encabezado %}Registro de Alumno{% endblock %}

{% block contenido %}
{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
  <form method="post">
    {% csrf_token %}

    <div class="mb-3">
      <label for="nombreServidor" class="form-label">Nombre completo:</label>
      <input type="text" class="form-control" id="nombreAlumno" name="nombreAlumno" required>
    </div>

    <div class="mb-3">
      <label for="ipServidor" class="form-label">Usuario:</label>
      <input type="text" class="form-control" id="usuarioAlumno" name="usuarioAlumno" required>
    </div>

    <div class="mb-3">
      <label for="contrasenaBot" class="form-label">Contraseña:</label>
      <input type="password" class="form-control" id="contrasenaAlumno" name="contrasenaAlumno" required>
    </div>

    <button type="submit" class="btn btn-primary" id="servidorEnviar">Registrar Alumno</button>
  </form>
{% endblock %}