{% extends "baseMaestro.html" %}

{% block titulo %}Definir ejercicio{% endblock %}
{% block encabezado %}Definir ejercicio{% endblock %}
{% block contenido %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}
  <form method="post">
    {% csrf_token %}

    <div class="mb-3">
      <label for="nombreEjercicio" class="form-label">Nombre del ejercicio:</label>
      <input type="text" class="form-control" id="nombreEjercicio" name="nombreEjercicio" required>
    </div>

    <div class="mb-3">
      <label for="descripcion" class="form-label">Descripcion:</label>
      <textarea class="form-control" id="descripcion" name="descripcion" rows="4" required></textarea>
    </div>

    <div class="mb-3">
      <label for="fechaInicio" class="form-label">Fecha de inicio:</label>
      <input type="date" class="form-control" id="fechaInicio" name="fechaInicio" required>
    </div>

    <div class="mb-3">
      <label for="fechaCierre" class="form-label">Fecha de cierre:</label>
      <input type="date" class="form-control" id="fechaCierre" name="fechaCierre" required>
    </div>
    
    <div class="mb-3">
      <label for="entradaEjemplo" class="form-label">Entrada de ejemplo:</label>
      <input type="text" class="form-control" id="entradaEjemplo" name="entradaEjemplo" required>
    </div>

    <div class="mb-3">
      <label for="salidaEjemplo" class="form-label">Salida de ejemplo:</label>
      <input type="text" class="form-control" id="salidaEjemplo" name="salidaEjemplo" required>
    </div>

    <table class="table">
      <caption>Tabla de entradas y salidas</caption>
      <thead>
        <tr>
          <th>Entrada</th>
          <th>Salida</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><label for="entradaUno">Entrada 1:</label></td>
          <td><label for="salidaUno">Salida 1:</label></td>
        </tr>
        <tr>
          <td><input type="text" class="form-control" id="entradaUno" name="entradaUno" required></td>
          <td><input type="text" class="form-control" id="salidaUno" name="salidaUno" required></td>
        </tr>
        <tr>
          <td><label for="entradaDos">Entrada 2:</label></td>
          <td><label for="salidaDos">Salida 2:</label></td>
        </tr>
        <tr>
          <td><input type="text" class="form-control" id="entradaDos" name="entradaDos" required></td>
          <td><input type="text" class="form-control" id="salidaDos" name="salidaDos" required></td>
        </tr>
        <tr>
          <td><label for="entradaTres">Entrada 3:</label></td>
          <td><label for="salidaTres">Salida 3:</label></td>
        </tr>
        <tr>
          <td><input type="text" class="form-control" id="entradaTres" name="entradaTres" required></td>
          <td><input type="text" class="form-control" id="salidaTres" name="salidaTres" required></td>
        </tr>
      </tbody>
    </table>


    <button type="submit" class="btn btn-primary" id="definirEjercicio">Definir Ejercicio</button>
  </form>
{% endblock %}
