{% extends 'baseAlumno.html' %}

{% block titulo %}{{ ejercicio.nombre_ejercicio }}{% endblock %}

{% block encabezado %}{{ ejercicio.nombre_ejercicio }}{% endblock %}

{% block contenido %}
<h2>{{ ejercicio.nombre_ejercicio }}</h2>
<p>{{ ejercicio.descripcion }}</p>

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="codigo" class="form-label">Subir código:</label>
        <textarea class="form-control" id="codigo" name="codigo" rows="10" required></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Enviar Tarea</button>
</form>
{% endblock %}
